<h3 style="color: lightblue;">Employee Details</h3>
<div>
    <div>
        <label style="font-weight: bold;">Employee ID: </label> {{employee.employeeId}}
    </div>
    <div>
        <label style="font-weight: bold;">Employee Name: </label> {{employee.employeeName}}
    </div>
    <div>
        <label style="font-weight: bold;">Employee Email: </label> {{employee.employeeEmail}}
    </div>
    <div>
        <label style="font-weight: bold;">Employee Age: </label> {{employee.employeeAge}}
    </div>
    <div>
        <label style="font-weight: bold;">Employee Designation: </label> {{employee.employeeDesignation}}
    </div>
    <div>
        <label style="font-weight: bold;">Employee Years of Experience: </label> {{employee.employeeYOE}}
    </div>
    <div>
        <label style="font-weight: bold;">Employee Address: </label> {{employee.employeeAddress}}
    </div>
    <br>
    <button class="btn btn-primary" type="submit" (click)="onBack()">Back</button>
</div>