<div class="col-md-6 offset-md-3" >
<h3>Create Employee Records</h3>

<form (ngSubmit) = "onSubmit()" >

    <div class = "form-group">
        <label>Enter name</label>
        <input type = "text" class="form-control" id="employeeName"
                [(ngModel)] = "employee.employeeName" name = "employeeName">
    </div>

    <div class = "form-group">
        <label>Enter email</label>
        <input type = "text" class="form-control" id="employeeEmail"
                [(ngModel)] = "employee.employeeEmail" name = "employeeEmail">
    </div>

    <div class = "form-group">
        <label>Enter age</label>
        <input type = "text" class="form-control" id="employeeAge"
                [(ngModel)] = "employee.employeeAge" name = "employeeAge">
    </div>

    <div class = "form-group">
        <label>Enter designation</label>
        <input type = "text" class="form-control" id="employeeDesignation"
                [(ngModel)] = "employee.employeeDesignation" name = "employeeDesignation">
    </div>

    <div class = "form-group">
        <label>Enter the years of experience</label>
        <input type = "text" class="form-control" id="employeeYOE"
                [(ngModel)] = "employee.employeeYOE" name = "employeeYOE">
    </div>

    <div class = "form-group">
        <label>Enter residential address</label>
        <input type = "text" class="form-control" id="employeeAddress"
                [(ngModel)] = "employee.employeeAddress" name = "employeeAddress">
    </div>

    <button class = "btn btn-success" type="submit">Submit</button>
</form>
<button class="btn button" type="submit" (click)="onCancel()">Cancel</button>
</div>
